.a {
    margin-right: 20px;
}
.input-1{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input-2{
    width: 100%;
    background-color: rgb(15, 162, 199);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: middle;
  }
  
  .input-3[type=submit]:hover {
    background-color: #1a63b6;
  }
  
  .f-1 {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    width: 720px;
    height: 290px;
    margin: 0 auto
   
  }
  .f-2{
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width: 720px;
    height: 290px;
    margin: 0 auto
  }
  .contact{
      font-size: 25px;
  }